td,
th {
    font-weight: bolder;
}

th {
    color: white;
}

h4 {
    font-weight: bolder;
}

.shadow {
    box-shadow: 5px 10px 18px #888888
}

button {
    background-color: white;
    color: #d9534f;
    border: 2px solid #d9534f;
    font-size: 18px;
    font-weight: bolder;
    padding: 0px 10px 0px 10px;
    margin-top: 5px
}

button:hover {
    background-color: #d9534f;
    color: white
}

th:hover {
    color: black
}

.shadow th:hover {
    color: #d9534f
}

td:hover {
    color: #d9534f
}

h4:hover {
    color: #d9534f
}